// The Main Logo
link(rel="icon" href="Logo.png")
// Very Nice Reset
link(rel="stylesheet" href="css/normalize.css")
//Font Icon Library
link(rel="stylesheet" href="css/all.min.css")
// My Style
link(rel="stylesheet" href="css/style.css")
// Google Web Font
// font-family: 'Roboto', sans-serif 
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap")
